/* CSS Menus - Horizontal CSS Menu with Dropdown and Popout Menus - 20050131 */

/* Begin CSS Popout Menu */

#navigation #menu {
	clear: both;
	z-index: 800;
	margin: 0;
	padding: 0;
	position: relative;
	float: right;
	}

#navigation #menu a {
	display: block;
	position: relative;
	font: normal 1.1em "Century Gothic", Times, serif;
	line-height: 2em;
	padding: .4em 2em;
	color: #FFF;	
	text-align: center;
	text-decoration: none;
	outline: none;
	border-left: 1px solid #cfcfcf;
	}
	
#navigation #menu ul li:first-child a {
	border: 0;
	}


#navigation #menu a:hover{
	color:#FFF;
	}

#navigation #menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
}
	
#navigation #menu ul li{
	margin:0;
	padding:0;
	position:relative;
	float:left;
	}

#navigation #menu ul li:hover {
	background: #004f00;
	cursor:pointer;
	z-index:100;
	}
	
#navigation #menu ul li:hover a {
	color: #FFF;
	}

#navigation #menu li li {
	float: none;
	width: 180px;
	text-align: left;
	line-height: normal;
	}

#navigation #menu li li a {
	font: normal 1em Arial, Helvetica, sans-serif;
	text-transform: none;
	padding: 0 1em 0 1em;
	color: #FFF;
	line-height: 2.5em;
	text-align: left;
	border: 0;
	}

#navigation #menu li li a:hover {
	background-color: #003000;
	}

#navigation #menu ul ul{
	position:absolute;
	z-index:900;
	top: auto;
	left: 0;
	display:none;
	background: #004f00;
	margin: 0;
	padding: 0;
	}

#navigation #menu ul ul ul{
	top:0;
	left:100%;
	}

/* Begin non-anchor hover selectors */

/* Enter the more specific element (div) selector
on non-anchor hovers for IE5.x to comply with the
older version of csshover.htc - V1.21.041022. It
improves IE's performance speed to use the older
file and this method */

div#navigation #menu li:hover ul ul,
div#navigation #menu li li:hover ul ul,
div#navigation #menu li li li:hover ul ul,
div#navigation #menu li li li li:hover ul ul
{display:none;}

div#navigation #menu li:hover ul,
div#navigation #menu li li:hover ul,
div#navigation #menu li li li:hover ul,
div#navigation #menu li li li li:hover ul
{display:block;}

/* End of non-anchor hover selectors */
